
/* Adding some custom css to the jumbotron section*/
.jumbotron {
    background-size: center;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 0;
}
/* Adding cursive font to Furniture aNew*/
.navbar-brand,
.store_name,
.footer_name,
.footer_paragraph {
    font-family: 'tangerine', serif;
    font-weight: bold;

}
/* Increasing font-size of Furniture aNew in navbar */
.navbar-brand {
    font-size: 2.5em;
}
/* Increasing font-size of Furniture aNew in jumbotron  */
.store_name {
    font-size: 5em;
}

.footer_name {
    font-size: 3em;
}

.footer_paragraph {
    font-size: 2em;
    color: rgb(148, 147, 147);
}

.bg-light {
    background-color: #eeeeee!important;
}

/* Added some custom css to the caption under the figure.  Changed tezt to uppercase to keep from having to retype */
.figure-caption {
    font-size: 80%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .5rem;
}

/* Adding a bit of customization to the image thumbnail */
.img-thumbnail {
    padding: .5rem;
    border: 2px solid #868e96;
    border-radius: 0;
    background-color: #ddd;
}




